@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
	<div class="content">
		<p>You have successfully logged out.</p>
		<p><a asp-controller="Home">Back to debug_failure</a></p>
	</div>
</header>
